*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline:1px solid red  */
}
.navbar{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 0, 208);
    color:white;
}

.p1{

    display: flex;
}
ul li{
    padding: 10px;
    display: inline;
}
ul li:hover{

    border:3px solid white;
    border-radius:3px;
    color: black;
    background-color: aqua;

}

.p3{

    height: 80vh;
    width: 100vw;
}
.section1{

    height: 50%;
    width: 100%;
    background-image:url(./image/pexels-photo-297933.jpeg)  ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    

}
.section2{

    height:50%;
    width: 100%;
    background-image:url(./image/pexels-photo-3755706.jpeg)  ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#box3 {
    height: 30vh;
    width: 25vw;
    position: absolute;
    top: 33vh;
    bottom: 10vh;
    right: 10vw;
    left: 31vw;
    z-index: 3;
    border-radius: 20px 20px 20px 20px;
    background-color:transparent;
    padding: 25px;
    margin-left: 70px;

}
input[type="text"]{
    padding: 10px;
    border: none;
    margin: 10px 20px;
    width: 70%;
}

input[type="checkbox"]{
    padding: 10px;
    border: none;
    margin: 10px 20px;
}

button{

    padding: 10px 20px;
    border: none;
    width: 50%;
    margin-left: 20px;
    background: black;
    color: white;

}
label{

    color: black;
    margin-left: 20px;
}
.footer{
    display: flex;
    height: 10vh;
    width: 100vw;
    color: black;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
}

